/* format paragraph top and bottom margins for better vertical positioning in questions text */
.qn-question p {
    margin-bottom: 0.6em;
    margin-top: 0.5em;
}

.qn-question {
    padding: 0.1em 5px;
    background-color: transparent;
}

.unselected {
    color: rgb(128, 128, 128);
}

.qn-info {
    float: left;
    width: auto;
    padding: 7px;
    background: #eee;
    font-weight: bold;
}

.qn-info h2.qn-number {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
}

.qn-question,
.qn-answer {
    margin: 0 0 0.5em;
    overflow: auto;
}

.qn-answer input[type=radio] {
    margin-left: 0.5em;
}

.qn-answer > label + input[type=radio] {
    margin-left: 0;
}

#notice .qn-question {
    margin: 0;
}

.req {
    font-size: x-small;
}

.qdepend {
    color: red;
    padding-left: 5px;
    margin-bottom: 5px;
}

.qdepend-or {
    color: orange;
    padding-left: 5px;
    margin-bottom: 5px;
}

.qn-content {
    margin-bottom: 10px;
}

/* move horizontal radio buttons closer to their labels */
.qn-answer input[type="radio"],
.qn-answer input[type="checkbox"] {
    margin-right: 3px;
}

#page-mod-feedbackbox-report div.chart {
    overflow: auto;
    margin-left: -40px;
}

#page-mod-feedbackbox-report .generaltable.feedbackboxreport td {
    border: 1px solid silver;
}

.qn-container .smalltext {
    font-size: 0.75em;
}

.qn-indent {
    margin-left: 20px;
}

.feedbackrateradio {
    visibility: hidden;
}

.feedbackrateradio + label {
    vertical-align: top;
    cursor: pointer;
    max-width: 150px;
    min-width: 150px;
    min-height: 128px;
    padding: 10px;
    background-color: unset;
    border-radius: 10px;
}

.feedbackrateradio + label div {
    max-width: 150px;
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
}

.feedbackrateradio:checked + label {
    cursor: pointer;
    background-color: rgba(12, 12, 12, 0.19);
}

.feedbackratecheckbox {
    visibility: hidden;
    display: none;
}

.feedbackratecheckbox + label {
    vertical-align: top;
    cursor: pointer;
    background-color: unset;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 4px 9px;
}

.feedbackratecheckbox:checked + label {
    cursor: pointer;
    background-color: rgba(12, 12, 12, 0.19);
}

fieldset.radiocontainer {
    margin-bottom: 2.5em;
}

.ratesubelements {
    text-align: center;
}

.ratesubelements:last-child {
    padding-top: 10px;
}

.infotext {
    margin-left: 5px;
    padding-left: 10px;
    margin-top: 20px;
    color: grey;
    border-width: 0;
    border-left-width: 5px;
    border-style: solid;
    border-color: #838383;
}

.clearboth {
    clear: both;
}

.alignbox {
    float: left;
}

.alignbox:not(:first-child) {
    padding-left: 10px;
}

.qn-content .checkstruct {
    display: flex;
}

.qn-content .checkimage {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.qn-content .checkselection {
    flex: 0 1 auto;
    flex-basis: 90%;
}

.qn-content .checkselection p {
    margin-bottom: 5px;
}

.qn-content .checkselection div .qn-answer {
    margin: unset;
}

.mod_feedbackbox_viewpage .buttongroupfb {
    margin-top: 10px;
}
